body {  
    background-color: aquamarine;
}

@media screen and (max-width: 2040px) {
    .bayan {
       width: 90%;
       margin:auto;
    }
    .text {
       width: 90%;
       padding: 2% 2%;
       font-size: 200%;
       border-bottom: 2px solid grey;
       margin: 0 auto;        
    }
    .row {
       width: 90%;
       height: 1em;
       padding: 2% 2%;
       font-size: 150%;
       border-bottom: 2px solid grey;
       margin: 0 auto;
    }
    .row1 {
        width: 90%;
        height: 12em;
        padding: 2% 2%;
        font-size: 150%;
        border-bottom: 2px solid grey;
        margin: 0 auto;
     }
    .bayan:hover {
        color: blue;
        cursor: pointer;
    }
    .bayan:hover .x {
        visibility: visible;
    }
    .x {
        width: 0.5em;
        float: right;
        visibility: hidden;
    }
    img {
        height: 11em;
        visibility: hidden;
        display: none;
        background-color: black;
        opacity: 1;
    }
    .i1 {
        display: block;
        visibility: visible;
        margin: auto;
        opacity: 1;
        background-color: black;
    }
    .text:hover {
        color: black;
    }
    .row:hover {
        color: black;
        height: 12em;
        transition-duration: 0.5s;
    }
    .row:hover img {
        display: block;
        visibility: visible;
        margin: auto;       
    }
    .row:hover .x {
        transform: rotate(45deg);
        transition: 0.5s;
    }
    .row:active img {
        opacity: .4;
    }
    .row1:active img {
        opacity: .4;
    }
 }